* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
  }
  
  .container-one {
    padding: 1vmin;
  }
  
  .orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
  }
  
  @keyframes orbit {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(0, 0);
    } /* don't change for 5% of the time...pause */
    25% {
      transform: translate(300%, 0%);
    } /* start moving again */
    30% {
      transform: translate(300%, 0%);
    } /* pause */
    50% {
      transform: translate(300%, 300%);
    } /* move */
    55% {
      transform: translate(300%, 300%);
    }
    75% {
      transform: translate(0%, 300%);
    }
    80% {
      transform: translate(0%, 300%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  
  .container-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .morphing-circle {
    opacity: 0.5 red;
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: morphing-circle-square 3s linear infinite;
    transition: border-radius 0.5s ease, background-color 0.5s ease,
      transform 0.5s ease 0.5s;
  }
  /*container-two:hover .morphing-circle {
    border-radius: 0;
    background-color: white;
    transform: rotate(90deg);
  }*/
  
  @keyframes morphing-circle-square {
    0% {
      border-radius: 50%;
    }
    25% {
      /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
      border-radius: 50%;
      background-color: darkred;
    }
    50% {
      /* now change to white square...but don't start rotating yet! */
      border-radius: 0%;
      background-color: white;
      transform: rotate(0deg);
    }
    75% {
      /* stay a white square, but rotate 90deg */
      border-radius: 0%;
      background-color: white;
      transform: rotate(90deg);
    }
    100% {
      /* stay rotated at 90, but change back to a circle */
      border-radius: 50%;
      background-color: darkred;
      transform: rotate(90deg);
    }
  }
  .container-three {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divide-circle-left {
    height: 25%;
    width: 12%;
    background-color: darkred;
    border-radius: 50px 0 0 50px / 50px 0 0 50px;
    animation: divide 3s linear infinite;
  }
  
  .divide-circle-right {
    height: 25%;
    width: 12%;
    background-color: darkred;
    border-radius: 0 50px 50px 0 / 0 50px 50px 0;
  }
  
  @keyframes divide {
    0% {
      margin-right: 0;
    }
  
    50% {
      margin-right: 15%;
    }
  
    75% {
      margin-right: 0;
    }
  
    100% {
      margin-right: 0;
    }
  }
  
  .container-four {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pulse-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    20% {
      transform: scale(1);
    }
    22% {
      transform: scale(1.2);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
    }
    85% {
      transform: scale(1);
    }
  }
  